body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #8B4513; 
    padding: 5px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
}

.logo {
    color: #fff; 
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

.logo > h2 {
    margin: 0; 
}

/* Navbar styles */
.navbar {
    display: flex;
}

.navbar a {
    color: #fff; 
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #e74c3c; 
}

/* Search styles */
#search-container {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
}

#search-icon {
    color: #fff;
    margin-right: 5px;
}

/* Level 1 styles */
.landing-page,
.level1 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data-summary span {
    font-weight: bold;
}

.level1 ul {
    list-style-type: none;
    padding: 0;
}

.level1 ul li {
    margin-bottom: 8px;
}

.level1 h2 {
    color: #3498db;
}

.level1 p {
    color: #333;
    margin-bottom: 10px;
}

.level1 ul, .level1 ol {
    margin-left: 20px;
}


/* Level 2 styles */
.level2 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.level2 h2 {
    color: #e67e22; 
}

.level2 h3 {
    color: #e67e22; 
}

.level2 .subtaskA,
.level2 .subtaskB {
    margin-bottom: 20px;
}

.level2 form {
    margin-bottom: 15px;
}

.level2 label {
    display: block;
    margin-bottom: 5px;
}

.level2 input, .level2 select {
    margin-bottom: 10px;
    padding: 5px;
}

.level2 button {
    padding: 8px;
    background-color: #8B4513; /* Brown color */
    color: #FFF;
    border: none;
    cursor: pointer;
}

.level2 button:hover {
    background-color: #A0522D; /* Darker brown color on hover */
}

.level2 #subtaskA-results,
.level2 #subtaskB-results {
    margin-top: 10px;
}



/* Level 3 styles */
.level3 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8; /* White background */
    color: #000; /* Black text */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.level3 h2 {
    color: #000; /* Black text */
}

.level3 h3 {
    color: #000; /* Red text */
}

.subtaskA,
.subtaskB {
    margin-bottom: 20px;
    background-color: #ecf0f1; /* Light gray background */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subtaskA label,
.subtaskB label {
    display: block;
    margin-bottom: 5px;
}

.subtaskA input,
.subtaskB input,
.subtaskA select,
.subtaskB select,
.subtaskA button,
.subtaskB button {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.subtaskA button,
.subtaskB button {
    background-color: #3498db; /* Blue button color */
    color: #fff; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.subtaskA button:hover,
.subtaskB button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

#subtaskA-results,
#subtaskB-results {
    margin-top: 10px;
}

